.musclegroup {
    display: flex
}


.beginner {
    /* flex-direction: column; */
    justify-content: flex-start;

}

.intermediate {
    justify-content: space-around;
    /* flex-direction: column; */
}

.advanced {
    justify-content: space-around;
    /* flex-direction: column; */

}